.lAppWrap {
    height: 100%;
}

.lContentWrap {
    padding-top: $header-height;
    padding-bottom: $footer-height;
}

.lHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.lFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
