.l-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #000;
    color: #fff;
    height: $footer-height;
    line-height: $footer-height;
    font-size: $fs-s;
}
