.cColumn {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

.cColumnItem {
    float: left;

    &.mCount2 {
        width: 49.5%;
    }
    &.mCount3 {
        width: 33%;
    }
    &.mCount4 {
        width: 24.75%;
    }
}
