.cSelectedItem {
    padding-top: 16px;
    text-align: center;

    .img {
        width: auto;
        height: 40px;
    }
    .name {
        font-size: $fs-xs;
        line-height: $lh-s;
        min-height: 24px;
    }
}
