.cStatusGauge {
    position: relative;

    .label {
        font-size: $fs-s;
    }

    .gaugeWrap {
        position: relative;
        margin: 0 2px 4px;
        @include display-flex();
    }

    .delimiter {
        @extend %gauge-shape;
        background-color: #000;

        & + .delimiter {
            border-left: 1px solid $theme-color-3;
        }
    }

    .gauge {
        @extend %gauge-shape;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        background-color: rgba($theme-color-3, .8);
        @include transition(width 0.25s 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55));
    }
}

%gauge-shape {
    display: inline-block;
    height: 8px;
    width: 0%;
    @include transform(skewX(-16deg));
}
