* {
    @include box-sizing(border-box);
}

html {
    background-color: $theme-color-1;
    color: #fff;
}

html,
body {
    height: 100%;
}

body {
    font-family: "MS PGothic", "Osaka", Arial, sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

a {
    color: #fff;
}
