body {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: $fs-m;
    line-height: $lh-l;
    white-space: pre;
}
